\begin{figure}[H]
    \centering
    \begin{subfigure}[b]{0.45\textwidth}
            \centering
            \includegraphics[width=\textwidth]{@@[abs_path_one]@@}
            \caption{@@[caption_one]@@}
            @@[label_one]@@
    \end{subfigure}
    \begin{subfigure}[b]{0.45\textwidth}
            \centering
            \includegraphics[width=\textwidth]{@@[abs_path_two]@@}
            \caption{@@[caption_two]@@}
            @@[label_two]@@
    \end{subfigure}
    \caption{@@[caption_main]@@}
    @@[label_main]@@
\end{figure}